<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="120 seconds" debug="false">
	<property name="log.base" value="/data/server/logs/manager/manager" />
	<appender name="FILEOUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>${log.base}.log</File>
		<encoder>
			<pattern>%d [%t] %5p %c:%L - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>256MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<FileNamePattern>${log.base}-%d{yyyy-MM-dd}-%i.log.gz
			</FileNamePattern>
			<MaxHistory>30</MaxHistory>
		</rollingPolicy>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d [%t] %5p \(%F:%L\) - %m%n</pattern>
		</encoder>
	</appender>
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILEOUT" />
	</root>

</configuration>